<div class="container ">
  <div class="jumbotron">
    <h3>User List</h3>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-6 col-sm-2" id="usercolumnid">
      <ul class="list-group">
        <li class="list-group-item">
          <h5>User Name</h5>
        </li>
        <li class="list-group-item">User 1</li>
        <li class="list-group-item">User 2</li>
        <li class="list-group-item">User 3</li>
        <li class="list-group-item">User 4</li>
      </ul>
    </div>
    <div class="col-6 col-sm-2" id="usercolumnid">
      <ul class="list-group">
        <li class="list-group-item">
          <h5>Role</h5>
        </li>
        <li class="list-group-item">Admin</li>
        <li class="list-group-item">HR</li>
        <li class="list-group-item">IT</li>
        <li class="list-group-item">Production</li>
      </ul>
    </div>

  </div>
</div>
