<div class="overflow-auto">
  <div class=" container horizontal-center">
    <h1>Contact us Form</h1>
  </div>
  <form class="container">
    <div>
      <h1></h1>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="inputName4">Name </label>
        <input type="text" class="form-control" id="inputName" placeholder="Please Enter The Name">
      </div>
      <div class="form-group col-md-5">
        <label for="inputEmail4">Email-ID</label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="Email-ID">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="inputSubject">Subject</label>
        <input type="text" class="form-control" id="inputSubject" placeholder="Enter the Subject">
      </div>

    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="inputMessage">Message</label>
        <textarea class="form-control" rows="3" placeholder="Enter the Message"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-1 mx-auto">
        <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#centralModal">Submit</button>
      </div>
    </div>

    <div class="modal fade" id="centralModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title w-100" id="myModalLabel">SUCCESSFULLY SUBMIT</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            Hi it is Submit succesfully. please close it.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          </div>
        </div>

      </div>
    </div>
  </form>
</div>

